/* Layout.css */

.layout {
  display: flex;
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto; /* Asegura que el contenido sea desplazable si es necesario */
}