/* Asegúrate de que no hay conflictos con otros estilos en tu aplicación */
.profile-config {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.profile-header {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="file"] {
    border: none;
}

/* Contenedor para todos los botones para asegurar alineación y distribución uniforme */
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 10px; /* Espacio entre botones */
    margin-top: 20px; /* Margen superior para separar de otros elementos del formulario */
}

.button {
    max-width: 120px;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

/* Estilos específicos para cada botón */
.change-password-button {
    background-color: #f0ad4e;
    color: white;
}

.change-password-button:hover {
    background-color: #ec971f;
}

.save-changes-button {
    background-color: #007bff;
    color: white;
}

.save-changes-button:hover {
    background-color: #0056b3;
}

.cancel-changes-button {
    background-color: transparent;
    color: tomato;
}

.cancel-changes-button:hover {
    background-color: transparent;
}
