.layout {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.main {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
}
   
.content {
    background-color: rgb(255, 255, 255);
    height: 100%;
}

.new-book-form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
}
  
.new-book-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
}
  
.new-book-form form {
    display: flex;
    flex-direction: column;
}
  
.new-book-form label {
    font-weight: bold;
    margin-top: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    transition: all 0.3s ease;
}

/* Estilos para el efecto hover */
.form-group input:hover,
.form-group input:focus {
    border-color: #b1dae7;
    box-shadow: 0 0 10px rgba(177, 218, 231, 0.5);
    outline: none;
}
  
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
  }
  
  .cta:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }
  
  .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
  }
  
  .cta svg {
    position: relative;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .cta:hover:before {
    width: 100%;
    background: #b1dae7;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active {
    transform: scale(0.95);
  }
  